#This is a sample file distributed with Galaxy that enables tools
#to use a directory bed file for covacs sequences data files. You will need
#to create these data files and then create a bed_loc.loc file
#similar to this one (store it in this directory) that points to
#the directories in which those files are stored. The bed_loc.loc
#file has this format (longer white space characters are TAB characters):
#
#<unique_id>   <dbkey>   <display_name>   <file_path>
#
#
#Note that for backwards compatibility with workflows, the unique ID of
#an entry must be the path that was in the original loc file, because that
#is the value stored in the workflow for that parameter. That is why the
#hg19 entry above looks odd. New genomes can be better-looking.
#
#hg19	hg19	hg19-padded	/export/BED/S07084713_Padded.bed
#hgbed	hg19	hg19-bed-test	/export/BED/chr22.bed
