
#location of humandb the fields are tab delimited 
db	location	/export/_conda/annovar/humandb



#definition of present db name + type(gene_ann, region, filter) the fields are tab delimited
refGene	gene_ann	
prova	gene_ann	
exac03	filter		
